<div class="card" style="width: 35rem;">
  <div class="card-header ">
    <h4 class="card-title"><small>[#{{kursDetail.id}}]</small>&nbsp;&nbsp;&nbsp;{{kursDetail.name}}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h5 class="card-title">
      <span *ngIf="kursDetail.kursBeschreibung">{{kursDetail.kursBeschreibung}}</span>
      <span *ngIf="!kursDetail.kursBeschreibung">Es ist noch keine detaillierte Beschreibung für diesen Kurs vorhanden.</span>
    </h5>
    </li>
    <li class="list-group-item">
      Der Kurs findet vom {{formatter.formatDate(kursDetail.startDatum!)}} bis {{formatter.formatDate(kursDetail.endeDatum!)}} statt und hat eine Gesamtdauer von
      <span *ngIf="kursDetail.anzahlTage && kursDetail.anzahlTage > 1"> {{kursDetail.anzahlTage}} Unterrichtstagen.<br></span>
      <span *ngIf="kursDetail.anzahlTage && kursDetail.anzahlTage === 1"> einem Unterrichtstag.<br></span>

       Der Unterricht findet an
      <span *ngIf="kursDetail.wieOftinWoche && kursDetail.wieOftinWoche > 1"> {{kursDetail.wieOftinWoche}} Tagen je Woche statt.<br></span>
      <span *ngIf="kursDetail.wieOftinWoche && kursDetail.wieOftinWoche === 1"> einem Tag je Woche statt.<br></span>

      <span *ngIf="kursDetail.freiePlaetze && kursDetail.freiePlaetze > 1">Es gibt noch {{kursDetail.freiePlaetze}} freie Plätze.<br></span>
      <span *ngIf="kursDetail.freiePlaetze && kursDetail.freiePlaetze === 1">Es gibt noch  einen freien Platz.<br></span>
      <span *ngIf="!kursDetail.freiePlaetze || kursDetail.freiePlaetze === 0">Der Kurs ist leider ausgebucht.<br></span>
    </li>
    <li class="list-group-item">
      Die Kursgebühr beträgt {{formatter.formatNumber(kursDetail.gebuehrBrutto!)}} EUR.
    </li>
    <li class="list-group-item">
      <span *ngIf="kursDetail.freiePlaetze && kursDetail.freiePlaetze > 0">Sie interessieren sich für diesen Kurs oder möchten sich anmelden?<br><br>
      <a class="text-decoration-none" href="mailto:info@ok.org?subject={{formatter.urlEncodeString(kursDetail.name!)}}&amp;body={{formatter.urlEncodeString('Hallo liebes oK-Team,' +
       '\r\n\r\nich interessiere mich für den im Betreff genannten Kurs.\r\n\Bitte nehmt Kontakt mit mir auf, danke.\r\n\r\nFreundliche Grüße\r\n\r\n'!)}}">
        <i class="fa fa-envelope fa-2x"></i> Email schicken!</a></span>

      <span *ngIf="!kursDetail.freiePlaetze || kursDetail.freiePlaetze === 0">Sie interessieren sich für diesen Kurs oder möchten auf die Warteliste?<br><br>
      <a class="text-decoration-none" href="mailto:info@ok.org?subject={{formatter.urlEncodeString(kursDetail.name!)}}&amp;body={{formatter.urlEncodeString('Hallo liebes oK-Team,' +
       '\r\n\r\nich interessiere mich für den im Betreff genannten Kurs.\r\n\Bitte nehmt Kontakt mit mir auf, danke.\r\n\r\nFreundliche Grüße\r\n\r\n'!)}}">
        <i class="fa fa-envelope fa-2x"></i> Email schicken!</a></span>
    </li>
  </ul>
  <div class="card-footer">
    <button class="btn btn-sm btn-info" (click)="formatter.back()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>
</div>
