<!--
  <span class="positiveTestResult" *ngIf="test.result">Test ist positiv!</span>
  <span class="negativeTestResult" *ngIf="!test.result">Test ist negativ!</span>
-->
<div class="card" style="width: 40rem;">
  <div class="card-header ">
    <h4 class="card-title">{{kursDetail.name}} &nbsp;&nbsp;<small>[#{{kursDetail.id}}]</small></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="kursDetail.kursBeschreibung!=undefined"><h5 class="card-title">{{kursDetail.kursBeschreibung}}</h5>
    </li>
    <li class="list-group-item">Der Kurs findet vom {{kursDetail.startDatum}} bis {{kursDetail.endeDatum}} statt und hat eine Gesamtdauer von {{kursDetail.anzahlTage}} Unterrichtstagen.<br>
       Der Unterricht findet an {{kursDetail.wieOftinWoche}} Tagen je Woche statt.<br>
      Es gibt noch {{kursDetail.freiePlaetze}} freie Plätze, bei einer Kursgebühr von {{kursDetail.gebuehrBrutto}} EUR.
    </li>
    <li class="list-group-item">Solange es freie Plätze gibt, können Sie sich für den Kurs anmelden.<br><br>
    <a href="mailto:m.mustermann@domain.de?subject=Hier%20steht%20der%20Betreff&amp;body=Hallo%20Max,%0D%0A%0D%0Ahier%20steht%20die%20Nachricht.">Ich bitte um weitere Infos per Email</a> </li>
  </ul>
  <div class="card-footer">
    <button class="btn btn-sm btn-info" (click)="back()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>
</div>
