<div class="card bg-light mb-3" >
  <div class="card-header">Person List </div>
<!--  <h5 class="card-title ">Person List View</h5>-->


  <table class="table table-striped">
    <thead>
    <th>Id</th>
    <th>Titel</th>
    <th>Name</th>
    <th>Vorname</th>
    <th>Email</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let person of personList" >
      <td>{{person.id}}</td>
      <td>{{person.titel}}</td>
      <td>{{person.name}}</td>
      <td>{{person.vorname}}</td>
      <td>{{person.email}}</td>
      <td >
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i> Details</button>
        <button class="btn btn-sm btn-warning" (click)="updatePerson(person)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="delete(person.id)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>

    </tr>
    </tbody>
  </table>

</div>

