<div class="card bg-light mb-3" >
  <div class="card-header">Person List </div>
<!--  <h5 class="card-title ">Person List View</h5>-->


  <table class="table table-striped">
    <thead>
    <th>Id</th>
    <th>Titel</th>
    <th>Name</th>
    <th>Vorname</th>
    <th>Strasse</th>
    <th>Ort</th>
    <th>Email</th>
    <th>Telefon</th>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.id}}</td>
      <td>{{person.titel}}</td>
      <td>{{person.name}}</td>
      <td>{{person.vorname}}</td>
      <td>{{person.strasse}}</td>
      <td>{{person.ort}}</td>
      <td>{{person.email}}</td>
      <td>{{person.telefon}}</td>

    </tr>
    </tbody>
  </table>

</div>

