<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home"><img src="../assets/images/logo_nav.png" height="20" width="125" alt="online Kursverwaltung"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="PersonForm">Person anlegen</a>
      <a class="nav-item nav-link" routerLink="PersonList">Personenliste</a>
      <a class="nav-item nav-link"  routerLink="KursForm"> Kurs anlegen</a>
      <a class="nav-item nav-link"  routerLink="KursList"> Kursliste</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>-->

<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" routerLink="home"><img src="../assets/images/logo_nav.png" height="20" width="125" alt="online Kursverwaltung"/></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!--<li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>-->
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="KursList"> Kursliste</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


