<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" routerLink="home"><img alt="online Kursverwaltung" height="20" src="../assets/images/logo_nav.png"
                                                   width="125"/></a>
    <ul *ngIf="isLoggedIn" class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="personform" routerLinkActive="active" class="nav-link">
          Person anlegen</a>
      </li>
      <li class="nav-item">
        <a routerLink="personlist" routerLinkActive="active" class="nav-link">
          Personenliste</a>
      </li>
      <li class="nav-item">
        <a routerLink="kursform" routerLinkActive="active" class="nav-link">
          Kurs anlegen</a>
      </li>
      <li class="nav-item">
        <a routerLink="kurslist" routerLinkActive="active" class="nav-link">
          Kursliste</a>
      </li>
    </ul>

    <ul *ngIf="!isLoggedIn" class="nav nav-tabs ml-auto">
      <li class="nav-item">
        <a routerLink="register" routerLinkActive="active" class="nav-link">Registrieren</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" routerLinkActive="active" class="nav-link">LogIn</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="nav nav-tabs ml-auto">
      <li class="nav-item">
        <a href="#" (click)="logout()" routerLinkActive="active" class="nav-link">LogOut</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>


