<div class="container">
  <section class="h-50 bg-light">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col">
        <div class="container">
          <table class="table table-striped">
            <thead>
            <th>Id</th>
            <th>Kursname</th>
            <th>Startdatum</th>
            </thead>
          </table>


        </div>
        <div class="container">
          <table class="table table-striped">
            <thead>
            <th>Id</th>
            <th>Kursname</th>
            <th>Startdatum</th>
            </thead>
          </table>

        </div>
      </div>
      <div class="col">
        <table class="table table-striped">
          <thead>
          <th>Id</th>
          <th>Kursname</th>
          <th>Startdatum</th>
          </thead>
        </table>
      </div>

    </div>
  </section>

</div>

