<form #KursForm>
  <section class="h-50 bg-light">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col">
          <div class="card card-registration ">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="../../assets/images/kurs_person_anlegen.jpg" height="800" width="533" alt="Kurs anlegen"/>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 *ngIf="kurs.id == undefined; else updatingHeadline" class="mb-5 ">Neuen Kurs anlegen</h3>
                  <ng-template #updatingHeadline>
                    <h3 class="mb-5 ">Diesen Kurs ändern</h3>
                  </ng-template>
                  <!--                  {{ KursForm.value | json}}-->
                  <div class="form-outline mb-4">
                    <small class="text-danger" [class.d-none]="kursname.valid || kursname.untouched"> Bitte Kursnamen
                      eingeben </small>
                    <input type="text" id="form3Example8" [(ngModel)]="kurs.name" [ngModelOptions]="{standalone: true}"
                           class="form-control form-control-lg" required minlength="1" #kursname="ngModel"
                           [class.is-invalid]="kursname.invalid && kursname.touched" ngModel/>
                    <label class="form-label" for="form3Example8">Kurs Name</label>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="date" id="date" [(ngModel)]="kurs.startDatum" [ngModelOptions]="{standalone: true}"
                               class="form-control form-control-lg"/>
                        <label class="form-label" for="date">Start Datum</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select id="status" [(ngModel)]="kurs.status" [ngModelOptions]="{standalone: true}"
                                class="form-control form-control-lg" size="1">
                          <option value="geplant" selected>geplant</option>
                          <option value="aktiv">aktiv</option>
                          <option value="abgesagt">abgesagt</option>
                          <option value="beendet">beendet</option>
                        </select>
                        <label class="form-label" for="status">Kursstatus</label>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="anzahltage" [(ngModel)]="kurs.anzahlTage"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="anzahltage">Anzahl der Tage</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="wieoft" [(ngModel)]="kurs.wieOftinWoche"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="wieoft">Wie oft in der Woche</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="minTeilnehmer" [(ngModel)]="kurs.minTnZahl"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="minTeilnehmer">Min Teilnehmer Zahl</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="maxTeilZahl" [(ngModel)]="kurs.maxTnZahl"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="maxTeilZahl">Max Teilnehmer Zahl</label>
                        <!--<div *ngIf="kurs.maxTnZahl < kurs.minTnZahl" class = "alert alert-danger">  MaxTeilnehmerzahl sollte groesser als MinTeilnehmerzahl sein</div>-->
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="gebuerenBrutto" [(ngModel)]="kurs.gebuehrBrutto"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="gebuerenBrutto">Gebühr Brutto</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="number" id="mwt" [(ngModel)]="kurs.mwstProzent"
                               [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"/>
                        <label class="form-label" for="mwt">Mehrwertsteuer Prozent</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <textarea id="description" [(ngModel)]="kurs.kursBeschreibung"
                              [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"></textarea>
                    <label class="form-label" for="description">Kurs Beschreibung</label>
                  </div>

                  <div *ngIf="kurs.id == undefined; else updatingButton" class="d-flex justify-content-end pt-3">
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <button type="button" (click)="KursForm.reset()" class="btn btn-danger btn-lg sm-2">
                          Zurücksetzen
                        </button>
                      </div>
                      <div class="col-md-6 mb-4">
                        <button type="submit" class="btn btn-success btn-lg ms-2" (click)="addKurs();KursForm.reset()">
                          <!--<button [disabled] = "!KursForm.valid" type="submit" class="btn btn-success btn-lg ms-2y">-->
                          Speichern
                        </button>
                      </div>
                    </div>
                  </div>
                  <ng-template #updatingButton>
                    <div class="d-flex justify-content-end pt-3">
                      <button type="submit" class="btn btn-success btn-lg ms-2" (click)="addKurs();KursForm.reset()">
                        Update Kurs
                      </button>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>




