<div class="container">
  <button class="btn btn-sm btn-info" (click)="back()">
    Back
  </button>&nbsp;
  <br><br>
  <h6 *ngIf="personZuordnung">Person Id : {{personZuordnung.id}}</h6>
  <h6 *ngIf="personZuordnung">Name : {{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</h6>
  <h6 *ngIf="personZuordnung">Email : {{personZuordnung.email}}</h6>
  <br>
  <section class="h-50 bg-light">
    <div class="row d-flex justify-content-center align-items-center h-50">

      <div class="col">
        <div class="container table-responsive" *ngIf="teilnahmeKursListe!=undefined&&teilnahmeKursListe.length>0; else keineTeilnahme">
          <h5><span *ngIf="personZuordnung">{{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</span> nimmt
            an folgenden Kursen teil:</h5>
          <table class="table table-striped table-bordered">
            <thead>
            <th>Id</th>
            <th>Kursname</th>
            <th>Startdatum</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let kurs of teilnahmeKursListe">
              <td>{{kurs.id}}</td>
              <td>{{kurs.name}}</td>
              <td>{{kurs.startDatum}}</td>
              <td>
                <button class="btn btn-sm btn-warning" (click)="zuInteresse(personId,kurs.id)">
                  <i class="fa fa-arrows"></i> interessiert sich
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteZuordnung(personId,kurs.id)">
                  <i class="fa fa-remove"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="container table-responsive"
             *ngIf="interessierteKursListe!=undefined&&interessierteKursListe.length>0; else keineInteressen ">
          <h5><span *ngIf="personZuordnung">{{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</span>
            interessiert sich für folgenden Kurse:</h5>
          <table class="table table-striped table-bordered">
            <thead>
            <th>Id</th>
            <th>Kursname</th>
            <th>Startdatum</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let kurs of interessierteKursListe">
              <td>{{kurs.id}}</td>
              <td>{{kurs.name}}</td>
              <td>{{kurs.startDatum}}</td>
              <td>
                <button class="btn btn-sm btn-info" *ngIf="kurs.freiePlaetze!=undefined&&kurs.freiePlaetze>0" (click)="zuTeilnahme(personId,kurs.id)">
                  <i class="fa fa-arrows"></i> nimmt teil
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteZuordnung(personId,kurs.id)">
                  <i class="fa fa-remove"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col table-responsive" *ngIf="remainingKursList!=undefined&&remainingKursList.length>0; else keineWeiterenKurse ">
        <h5>Aktuell verfügbare Kurse für <span
          *ngIf="personZuordnung">{{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</span></h5>
        <table class="table table-bordered">
          <thead>
          <th>Id</th>
          <th>Kursname</th>
          <th>Startdatum</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr *ngFor="let kurs of remainingKursList">
            <td>{{kurs.id}}</td>
            <td>{{kurs.name}}</td>
            <td>{{kurs.startDatum}}</td>
            <td>
              <button class="btn btn-sm btn-info" *ngIf="kurs.freiePlaetze!=undefined&& kurs.freiePlaetze>0" (click)="zuTeilnahme(personId,kurs.id)">
                <i class="fa fa-arrows"></i> nimmt teil
              </button>
              <button class="btn btn-sm btn-warning" (click)="zuInteresse(personId,kurs.id)">
                <i class="fa fa-arrows"></i> interessiert sich
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ng-template #keineTeilnahme>
        <div class="col">
          <h5 class="text-danger"><span
            *ngIf="personZuordnung">{{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</span> nimmt an
            keinem Kurs teil.</h5>
        </div>
      </ng-template>

      <ng-template #keineInteressen>
        <div class="col">
          <h5 class="text-danger"><span
            *ngIf="personZuordnung">{{personZuordnung.vorname}}&nbsp;&nbsp;{{personZuordnung.name}}</span> interessiert
            sich für keinen Kurs.</h5>
        </div>
      </ng-template>

      <ng-template #keineWeiterenKurse>
        <div class="col">
          <h5 class="text-danger">Es stehen keine weiteren Kurse zur Auswahl zur Verfügung.</h5>
        </div>
      </ng-template>

    </div>
  </section>

</div>

