<div class="container">
  <!--  <img src="../../assets/images/logo.png" height="120" width="550" alt="online Kursverwaltung"/></div>-->
  <div class="card" style="width: 1000px">
    <img class="card-img-top" src="../../assets/images/home_start.png" alt="online Kursverwaltung" >
      <div class="card-header"><h5 class="card-title">online Kursverwaltung</h5></div>
      <div class="card-body">
      <p class="card-text">Hier können Sie sich über unser aktuelles Kursangebot informieren.</p>
    </div>
    <div class="card-footer">Kontakt: <a class="text-decoration-none" href="mailto:info@ok.org?subject={{formatter.urlEncodeString('Kontaktanfrage'!)}}&amp;body={{formatter.urlEncodeString('Hallo liebes oK-Team,' +
       '\r\n\r\nbitte nehmt Kontakt mit mir auf, danke.\r\n\r\nFreundliche Grüße\r\n\r\n'!)}}">
      <i class="fa fa-envelope fa-2x text-secondary"></i></a></div>
  </div>
</div>
